* {
     padding: 0;
     margin: 0;
}
body {
     font-family:'Epilogue',sans-serif;
     font-size: 18px;
}

.container {
     box-sizing: border-box;
     width: 100%;
     min-height: 100vh;
     overflow: hidden;
     padding-left: 5%;
     padding-right: 5%;
}

.navbar {
     height: 100px;
     width: 100%;
     display: flex;
     align-items: center; 
     justify-items: center;
}

nav {
     height: 25px;
     display: flex;
     flex: 1 ;
     margin-left: 20px;
     justify-content: space-between;
     align-items: center;
     
}

nav ul li {
     list-style: none;
     display: inline-block;
     margin-right: 20px;
     position: relative;
    
}

nav ul li a {
     text-decoration: none;
     color: hsl(0, 0%, 41%);
     font-size: 18px;
     height: 30px;
    
}

nav ul li a:hover {
     color: black;
}

.dropdown {
     display: none;
}

nav ul li:hover .dropdown {
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
     background-color: rgba(232, 232, 232, 0.501);
     border-radius: 10px;
    
}

.dropdown ul {
     display: block;
     margin: 2px;
}

.dropdown ul li {
     width: 120px;
     padding: 10px;
}

.menu-open {
     display: none;
}
.close-menu {
     display: none;
}

.btn1{
     font-size: 18px;
     border: none;
     background-color: white;
     margin-right: 30px;
     margin-left: 10px;
     cursor: pointer;
     color: hsl(0, 0%, 41%);
}

.btn2 {
     font-size: 18px;
    
     width: 100px;
     border: 1px solid black;
     border-radius: 10px;
     background-color: white;
     color: hsl(0, 0%, 41%);
     cursor: pointer;
     margin-left: -20px;
}

.nav-btn .btn2:hover {
     background-color: black;
     color: white;
}

.logo {
     margin: 30px 0;
     width: 100px;
     cursor: pointer;
}

.menu-open {
     width: 50px;
     cursor: pointer;
}

.row {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 60px 0 120px;
}

.row-1 {
     position: relative;
     flex-basis: 40%;
     margin-left: 120px;
     margin-top: 90px;
  
}
.row-1 h1{
     font-size: 60px ; 
}

.row-1 p {
     color:hsl(0, 0%, 41%) ;
     margin-top: 70px ;
     line-height: 23px;
}
.row-1 .btn-hero {
     margin-top: 60px;
     padding: 15px;
     width: 150px;
     border: 1px solid black;
     border-radius: 15px;
     background-color: black;
     color: white;
     font-size: 16px;
     cursor: pointer;
}

.row-1 .btn-hero:hover {
     background-color: white;
     color: black;
}

.hero-icons img{
     margin-top: 90px;
     width: auto;
     height: 20px;
     margin-right: 20px;
}
.row-2 .mob-img {
     display: none;
}

.row-2  {
     display: flex;
     align-items: center;
     flex-basis: 50%;
     position: relative;
     margin-top: 170px 0;
    
}
.row-2 .desktop-img {
    width: 65%;
    margin-left: 120px;
   
}

@media screen and (max-width:900px) {
     
     .container {
          padding: 0;
          min-height: 100vh;
     }

     nav {
          background-color: white;
          position: fixed;
          top: 0;
          right: -300px;
          width: 300px;
          height: 100vh;
          z-index: 2;
          overflow-x: hidden;
          padding-top: 50px;
          flex-direction: column;
          transition: 0.3s;
     }

     nav .close-menu{
         display: block;
         position: absolute;
         top: 30px;
         margin-right: -200px;
         cursor: pointer;
     }
     nav .nav-right {
          display: flex;
          flex-direction: column;
          margin-bottom: 300px; 
     }
     .nav-right .btn1 {
          margin-bottom: 20px;
     }
     .nav-right .btn2 {
          width: 200px;
          padding: 10px;
     }

     nav ul li {
          display: block;
          margin: 20px;
          position: relative;
          min-width: 200px;
     }

     .dropdown ul li {
          padding: 0;
          margin: 0;
     }

     .dropdown ul li a {
          margin-top: 5px;
          margin-left: 25px;
          line-height: 35px;
          font-size: 14px;
     }

     nav ul li:hover .dropdown {
          display: block;
          position: relative;
          top: 150%;
          background-color: white;
          border-radius: 10px;
          z-index: 1;
          min-width: 10px;
          margin-top: 10px;
     }
     
     .row-2 .desktop-img {
          display: none;
     }
     .row-2 .mob-img {
          display: block;
          width: 100%;
          
         
     } 
     .row {
          display: flex;
          flex-direction: column-reverse;
        
     }
     .row-1 {
          margin:50px 20px;
          text-align: center;
     }
     .row-1 h1{
          font-size: 40px ; 
     }
     .row-1 h1 br {
          display: none;
     }
     .row-1 p {
          color:hsl(0, 0%, 41%) ;
          margin-top: 40px ;
          line-height: 30px;
     }
     .row-1 .btn-hero {
          margin-top: 30px;
     }
     .hero-icons img {
          margin-top: 50px;
     }
    
     .menu-open {
       display: block;
       position: absolute;
       top: 30px;
       right: 10px;
       margin-right: 20px;
       cursor: pointer;
       width: 35px;
     }

     .navbar {
          padding-left: 5%;
          padding-right: 5%;
     }
     
}